#pstartseite{
  	text-align: center;
  	width: 20px;
}

div.paragraph-container {
    padding: 20px; /* or padding: 20px 20px 20px 20px; sets all the padding individually (top, right, bottom, left) */
}


/*
/*von Elia: 
#page-container {
	position: relative;
	min-height: 100vh;
  }
  
  main {
	padding-bottom: 7rem;    /* Footer height 
  }
  
  footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4rem;            /* Footer height 
	background-color: #343a40;
	color:#fff;
  }
  
  .card-vote {
	min-height: 150px !important
  }
  */