{% include "header.html" %}
{% include "navigation.html" %}

<h2>Wie viel Zeit hast du heute für das Modul aufgewendet?</h2>
<p></p>

<form method="POST">
  <div class = "row">
    <div class="col-2">
      <label for="exampleFormControlInput1">Datum</label>
      <input type="date" class="form-control" name="datum" placeholder="Datum" required>
    </div>
    <div class="col-2">
      <label for="exampleFormControlInput1">Anzahl Lernminuten</label>
      <input type="number" class="form-control" name = "lernzeit" placeholder="Anzahl Minuten" required>
    </div>
  </div>

  <div class = "row"><p></p></div>
  
  <div class = "row">
    <div class="col-4">
      <label for="exampleFormControlTextarea1">Kommentare</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="Kommentare" row="3"> </textarea>
    </div>
  </div>
  
  <div class = "row"><p></p></div>

  <div class="row">
    <div class="col-2">
      <button class="btn btn-primary" type="submit">Erfassen</button>
    </div>
  </div>
</form>

<br></br>

<!--Auflistung Lernzeiten-->

<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Datum</th>         <!--Spaltenkopf erste Spalte-->
              <th scope="col">Lernzeit</th>        <!--Spaltenkopf zweite Spalte--> 
              <th scope="col">Kommentare</th>
              
            </tr>
            <tbody>
                <tr>
                  <th scope="row">Datum</th>     <!--Platzhalter für Verlinkung -> Datum aus lernzeit.html-->
                  <td>Lernzeit</td>              <!--Platzhalter für Verlinkung -> Berechnung Lernzeit aus lernzeit.html (Stunden plus Minuten)S-->
                  <td>Kommentare</td>            <!--Platzhalter für Verlinkung -> Kommentare aus lernzeit.html-->
                  
                </tr>
          </thead>
    </table>
  </div>
  
  <div class="table-responsive-md">
    <table class="table">
      ...
    </table>
  </div>
  
  <div class="table-responsive-lg">
    <table class="table">
      ...
    </table>
  </div>
  
  <div class="table-responsive-xl">
    <table class="table">
      ...
    </table>
  </div>

{% include "footer.html" %}
