{% include "header.html" %}
{% include "navigation.html" %} 

<head>
  <title>Lernzeit erfassen</title>
</head>

<body>Wie viel Zeit hast du heute für das Modul aufgewendet?</body>


<form method="POST">
  <input type="text" name="vorname" placeholder="Bitte geben Sie Ihren Namen ein">
  <button type="submit">Senden</button>
</form>


<form method="POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">Datum</label>
        <input type="date" name="datum" placeholder="Datum" required>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Anzahl Lernminuten</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" name="lernzeit" placeholder="Anzahl Minuten" required >
      </div>
      
      

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Kommentare</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <button class="btn btn-primary" type="submit">Erfassen</button>
      

{% include "footer.html" %}
    