{% include "header.html" %}
{% include "navigation.html" %}

<div class="container">
<div class="table-responsive-sm mt-5">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Semester</th>         <!--Spaltenkopf erste Spalte-->
              <th scope="col">Modulname</th>        <!--Spaltenkopf zweite Spalte--> 
              <th scope="col">Anzahl Credits</th>
              <th scope="col">Aufwand insgesammt</th>
              <th scope="col">Lernaufwand (h/min)</th>
              <th scope="col">Verbliebene Zeit (h/min)</th>
              <th scope="col">Modulnote</th>
              
            </tr>
            <tbody>
                <tr>
                  <th scope="row">Semester</th>     <!--Platzhalter für Verlinkung -> Semester aus Modulerfassung-->
                  <td><a href="{{ url_for('modulbearbeiten') }}">Modulname</a></td>                <!--Platzhalter für Verlinkung -> Modulname aus Modulerfassung-->
                  <td>Credits</td>                  <!--Platzhalter für Verlinkung -> Credits aus Modulerfassung-->
                  <td>Aufwand insgesammt</td>       <!--Platzhalter für Verlinkung -> Allgemeiner Aufwand berechnen ((Anzahl Credits*30) - (Anzahl Vorlesungen*1)-->
                  <td><a href="{{ url_for('lernzeitdetail') }}">Lernaufwand</a></td>              <!--Platzhalter für Verlinkung -> Berechnung Lernaufwand (Credits mal xx h--> 
                  <td>verbliebende Zeit</td>        <!--Platzhalter für Verlinkung -> Berechnung Lernaufwand - summe Lernzeit-->
                  <td><a href="{{ url_for('modulbearbeiten') }}">Modulnote</a></td>          <!--Platzhalter für Verlinkung -> Benutzereingabe Modulnote-->
                </tr>
          </thead>
    </table>
  </div>
</div>

{% include "footer.html" %}
