{% include "header.html" %}
{% include "navigation.html" %}


<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Semester</th>         <!--Spaltenkopf erste Spalte-->
              <th scope="col">Modulname</th>        <!--Spaltenkopf zweite Spalte--> 
              <th scope="col">Anzahl Credits</th>
              <th scope="col">Lernaufwand (h/min)</th>
              <th scope="col">Verbliebene Zeit (h/min)</th>
              <th scope="col">Modulnote</th>
              
            </tr>
            <tbody>
                <tr>
                  <th scope="row">Semester</th>     <!--Platzhalter für Verlinkung -> Semester aus Modulerfassung-->
                  <td>Modulname</td>                <!--Platzhalter für Verlinkung -> Modulname aus Modulerfassung-->
                  <td>Credits</td>                  <!--Platzhalter für Verlinkung -> Credits aus Modulerfassung-->
                  <td>Lernaufwand</td>              <!--Platzhalter für Verlinkung -> Berechnung Lernaufwand (Credits mal xx h--> 
                  <td>verbliebende Zeit</td>        <!--Platzhalter für Verlinkung -> Berechnung Lernaufwand - summe Lernzeit-->
                  <td>input Modulnote</td>          <!--Platzhalter für Verlinkung -> Benutzereingabe Modulnote-->
                </tr>
          </thead>
    </table>
  </div>
  
  <div class="table-responsive-md">
    <table class="table">
      ...
    </table>
  </div>
  
  <div class="table-responsive-lg">
    <table class="table">
      ...
    </table>
  </div>
  
  <div class="table-responsive-xl">
    <table class="table">
      ...
    </table>
  </div>

{% include "footer.html" %}
