
{% extends "index.html" %}

<head> 
    <title>Willkommen im Lernaufwandrechner</title>
</head>

<body style="background-image:url(Hintergrundbild Startseite.jpg)"></body>

<div>
    <b>Mit diesem Lernaufwandrechner haben Sie jederzeit den Überblick, wie viel Sie noch für ein Modul aufwenden müssen und 
    erhalten nach Erhalt der Modulnote eine Auswertung über Ihren Aufwand und Ertrag</b>
        <button type="button" class="btn btn-primary btn-lg">Ein neues Modul erfassen</button>
        <button type="button" class="btn btn-primary btn-lg">Zur Modulübersicht</button>
</div>




<!--Beispiel von Elia-->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Lernaufwandrechner</h1>
            <hr>
        </div>
        {% if telbuch %}
            {% for key, value in telbuch.items() %}
                <div class="col-12 mb-3">
                    <h6>{{ value['name'] }}</h6>
                    <p>{{ value['telefon']}}</p>
                </div>
            {% endfor %}
        {% else %}
                <h3>Keine Einträge vorhanden</h3>
        {% endif %}
    </div>
</div>
{% endblock %}