{% include "header.html" %}
{% include "navigation.html" %}


<body style="
    background-image:url({{ url_for('static', filename='Hintergrundbild_Startseite2.jpg') }});
    background-size: cover;
    background-repeat: no-repeat;"></body>

    <div class="container">
        <br>
        <br>
        <h1>Willkommen im Lernaufwandrechner!</h1>
        <p id= pstartseite>Mit diesem Lernaufwandrechner haben Sie jederzeit den Überblick, wie viel Zeit Sie noch für ein 
            Modul aufwenden müssen. </p>
        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="{{ url_for('modulerfassen') }}">Ein neues Modul erfassen</a>
        <a class="btn btn-primary btn-lg" href="{{ url_for('moduluebersicht') }}">Zur Modulübersicht</a>
        
</div>

    </div>


{%include "footer.html" %}




<!--Beispiel von Elia
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Lernaufwandrechner</h1>
            <hr>
        </div>
        {% if telbuch %}
            {% for key, value in telbuch.items() %}
                <div class="col-12 mb-3">
                    <h6>{{ value['name'] }}</h6>
                    <p>{{ value['telefon']}}</p>
                </div>
            {% endfor %}
        {% else %}
                <h3>Keine Einträge vorhanden</h3>
        {% endif %}
    </div>
</div>
-->