{% include "header.html" %}
{% include "navigation.html" %}


<body style="
    background-image: url({{ url_for('static', filename='Hintergrundbild_Startseite2.jpg') }});
    background-size: cover;
    background-repeat: no-repeat;">
</body>

    <div class="container">
        <br>
        <br>
        <h1>Willkommen im Lernaufwandrechner!</h1>
        <p>Mit diesem Lernaufwandrechner haben Sie jederzeit den Überblick, wie viel Zeit Sie noch für ein 
            Modul aufwenden müssen. </p>
        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="{{ url_for('modulerfassen') }}">Ein neues Modul erfassen</a>
        <a class="btn btn-primary btn-lg" href="{{ url_for('moduluebersicht') }}">Zur Modulübersicht</a>
        
    </div>


{%include "footer.html" %}




